[submodule "Source/Charts"]
	path = Source/Charts
	url = https://github.com/Grafieks-Analytics/charts
[submodule "Libraries/qt-breakpad"]
	path = Libraries/qt-breakpad
	url = https://github.com/chilarai/qt-breakpad.git
