<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Grafieks Desktop</Name>
    <Version>Beta</Version>
    <Title>Grafieks Desktop</Title>
    <Publisher>Grafieks Analytics Ltd</Publisher>

    <Licenses>
        <License name="Grafieks License Agreement" file="eula.txt" />
    </Licenses>
    
    <WizardStyle>Modern</WizardStyle>
    <!-- <StyleSheet>style.qss</StyleSheet> -->
    <WizardShowPageList>false</WizardShowPageList>
    <InstallerApplicationIcon>logo</InstallerApplicationIcon>
    <InstallerWindowIcon>logo.png</InstallerWindowIcon>

    <MaintenanceToolName>Updates</MaintenanceToolName>
    <StartMenuDir>Grafieks</StartMenuDir>
    <TargetDir>@ApplicationsDir@/Grafieks</TargetDir>

    <RunProgram>@TargetDir@/GrafieksDesktop.exe</RunProgram>

    <RemoteRepositories>
        <Repository>
            <Url>https://grafieks.com/application/</Url>
            <DisplayName>Grafieks Desktop Repository</DisplayName>
        </Repository>
    </RemoteRepositories>
</Installer>
